{% extends "card_form.html" %}
{% block title %}Сброс пароля{% endblock %}

{% block card_header %}
  {% if validlink %}
    Введите новый пароль
  {% else %}
    Ошибка
  {% endif %}
{% endblock card_header %}

{% block card_body %}
  {% if validlink %}
    {{ block.super }}
  {% else %}
    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
  {% endif %}
{% endblock card_body %}

{% block submit %}
  <button type="submit" class="btn btn-primary">
    Назначить новый пароль
  </button>
{% endblock submit %}
